@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
    background-color: #E5E5E5;
}

strong{
    font-weight: 700;
}

b{
    color: #AAAAAA;
}

ion-icon{
    font-size: 35px;
}

*{
    box-sizing: border-box;
}

.topBar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topBar img{
    width: 75px;
    height: 53px;
}

.bottomBar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.bottomBar input{
    height: 60px;
    width: 80%;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

input:focus, select:focus {
    outline: 0;
}

.container{
    width: 100%;
    padding: 106px 0;
}

.msg{
    display: flex;
    align-items: center;
    word-break: break-word;
    width: 100%;
    min-height: 40px;
    padding: 0 9px;
    margin-bottom: 4px;
    font-size: 14px;
}

.status{
    background-color: #DCDCDC;
}

.mensagem{
    background-color: #FFFFFF;
}

.privateMsg{
    background-color: #FFDEDE;
}

.msg p{
    font-weight: 400;  
    color: #000000
}

.containerFalso{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    right: -100%;
    background: rgba(0, 0, 0, 0.6);
}

.clickVoltar{
    width: 20%;
}

.usuarios{
    width: 80%;
    overflow-y: scroll;
    background-color: #FFFFFF;
}

.titulo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 84px;
    font-weight: 700;
    font-size: 16px;
}

.mostrarContainer{
    right: 0; 
}

.listaUsuarios{
    padding: 0 16px;
}

.listaUsuarios li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.tiposUsuario{
    display: flex;
    align-items: center;
    width: 80%;
}

.listaUsuarios p{
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;

}
div ion-icon{
    font-size: 25px;
}

.iconParticipantes{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    color: black;
}

div .check ion-icon{
    font-size: 20px;
    color: #28BB25;
}

.visibilidade > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.visibilidade p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.iconVisibilidade{
    font-size: 20px;
    color: #28BB25;

}

.visibilidade div:nth-child(2){
    margin-bottom: 30px;  
}

.alinhar{
    display: flex;
}

.check{
    opacity: 0;
}

.selecionado,
.visibilidadeSelecionado{
    opacity: 1;
}

.remetente{
    position: fixed;
    bottom: 0px;
    left: 20px;
    width: 90%;
    height: 25px;
    opacity: 1;
}

.remetente{
    word-break: break-all;
    font-size: 18px;
    font-weight: 400;
    color: #505050;
}

.selecionadoRemetente{
    opacity: 0;
}