@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
    background-color: #E5E5E5;
}

strong{
    font-weight: 700;
}

ion-icon{
    font-size: 35px;
}

*{
    box-sizing: border-box;
}

.topBar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topBar img{
    width: 75px;
    height: 53px;
}

.bottomBar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.bottomBar input{
    height: 30px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.container{
    width: 100%;
    margin: 106px 0;
}

.msg{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 9px;
    margin-bottom: 4px;
    font-size: 14px;
    overflow: hidden;
    background-color: #DCDCDC;
}
.msg p{
    font-weight: 400;  
    color: #000000
}

.msg h1{
    font-weight: 400;  
    color: #AAAAAA;
    margin-right: 8px;
}

